<a href="/">Home</a> | <a href="/app/posts">Posts</a>
<% if (typeof error !== 'undefined') { %>
	<div style="background: red; color: white; font-weight: bold;">
		<%= error %>
	</div>
<% } %>
<h1>Welcome, Juan!</h1>